@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}
::selection {
    background: rgba(var(--blue600-rgb, 25, 129, 193), var(--opacity-app-fade, 10%));
}
.quote{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
